<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Products</h1>

<a th:href="@{/product/form}">new product</a>
    <div style="display: flex; width: 30%; justify-content: space-around;" >
        <div>
            <p th:each="product : ${products_array}" th:text="${product.id}"></p>
        </div>
        <div>
            <p th:each="product : ${products_array}" th:text="${product.title}"></p>
        </div>
        <div>
            <p th:each="product : ${products_array}" th:text="${product.cost}"></p>
        </div>
    </div>


</body>
</html>